$font-stack: 'Harvest', sans-serif;
$text-color: #d3d3d3;
$logo-color: #6f7f88;

.Navbar {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34;
    font-family: 'Harvest', sans-serif;
    font-size: 1.5vmin;
    padding: 1vmin;
    color: white;   
    margin: 0;
    width: 100%;

    &-list {
        display: inline-flex;
        flex-direction: row;
        padding: 0;
        background-color: #282c34;
        font-family: 'Harvest', sans-serif;
        font-size: 1.5vmin;
        list-style-type: none;
}

    &-list-item {
        padding: 0.5vmin 0.5vmin 0.5vmin 0.5vmin;
        color: $text-color;
        font-size: 2.5vmin;
        font-weight: 200;
        text-decoration: none;
        cursor: pointer;
        transition: ease-in-out 0.2s;
    }

    &-list-item:hover {
        color: #ffffff;
    }
}