.projects-card__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  
  .projects-card__button {
    flex: 1;
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    text-align: center;
    background-color: #282c34;
    color: white;
    border: 1 px solid #d3d3d3;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .projects-card__button:hover {
    background-color: #d3d3d3;
  }

  .projects-technologies {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.projects-technology__button {
    padding: 0.5rem 1rem;
    background-color: #d3d3d3;
    color: #282c34;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
}
