.SkillsTable {
    margin: 20px 0;
    text-align: left;

    h2 {
        margin-bottom: 10px;
    }

    table {
        width: 90%;
        border-collapse: collapse;
        border-radius: 5px;
        margin: 0 auto;

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            font-weight: 400;
            font-size: 1.5vmin;

        }

        th {
            background-color: #f2f2f2;
            text-align: left;
        }

        td div {
            margin-bottom: 5px;
            color: #d3d3d3;
        }

        tr td {
            background-color: #282c34;
            color: #d3d3d3;
        }
    }
}