.SkillsTable {
    margin: 20px 0;
    text-align: center;

    h2 {
        margin-bottom: 10px;
    }

    table {
        width: 90%;
        border-collapse: collapse;
        border-radius: 5px;
        margin: 0 auto;

        th, td {
            border: 1px solid #d3d3d3;
            padding: 8px;
            font-weight: 400;
            font-size: 2vmin;

        }

        th {
            background-color: #d3d3d3;
            text-align: left;

        }

        td div {
            margin-bottom: 5px;
            color: #d3d3d3;
        }

        tr td {
            background-color: #282c34;
            color: #d3d3d3;
        }
    }
}

@media (max-width: 768px) {
    .SkillsTable {
        table {
        th, td {
            font-size: 22px;
        }
    }
    }
}

@media (max-width: 425px) {
    .SkillsTable {
        table {
        th, td {
            font-size: 18px;
        }
    }
    }
}
